<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        <% if(user_details && user_details.length>0){%>
            <% user_details.forEach(i=>{ %>
                <li>
                    <p>Name : <%= i.fullname %>
                    </p>
                    <p>Username : <%= i.username %>
                    </p>
                    <p>email : <%= i.email %>
                    </p>
                    <p>mobile : <%= i.mobile %>
                    </p>
                </li>
                <%})%>
                    <%}else{%>
                        <p>Looks Like You Are The First One To Register...</p>

                        <%}%>
    </ul>
</body>

</html>